<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>ToDoList</title>
    </head>
    <body>
        <h1>
        Task List:
        </h1>


        <ul>
            {% for task in tasks %}
            <li class = "task">
               {{ task }}
                <form action ="/move/{{ loop.index0 }}?direction=done" method="post" style="display: inline;">
                    <button type="submit">Done</button>
                </form>

                <a href = "/delete/{{ loop.index0}}?direction=done">
                    <button>Delete</button>
                </a>

            </li>
            {% endfor %}
        </ul>

        
        <form action="/add" method="post">
            <input autocomplete="off" autofocus name="task" placeholder="Type and hit enter to add"  type="text">
        </form>

        <h1>
            Done List:
        </h1>
        <ul>
            {% for item in finished %}
            <li class = "finished">
                {{ item }}
                <form action ="/move/{{ loop.index0 }}?direction=back" method="post" style="display: inline;">
                    <button type="submit">Back</button>
                </form>

                <a href = "/delete/{{ loop.index0}}?direction=back">
                    <button>Delete</button>
                </a>

            </li>
            {% endfor%}
        </ul>
    </body>
</html>